body {
  /* background-image: url("./assets/backgrund.webp"); */
  /* background-size: cover; */
  background-color: #ffa500 !important;
}

#root {
  width: 100%;
  min-height: 200px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  background-color: rgb(255, 255, 255, 0.5);
  position: relative;
  top: 100px;
}
